*.class

# Package Files #
*.jar
*.war
*.ear

documents/
ngai/.settings/
ngai/target/
ngai/.classpath
ngai/.project

ngai/ngai-core/.settings/
ngai/ngai-core/target/
ngai/ngai-core/.classpath
ngai/ngai-core/.project

ngai/ngai-example/.settings/
ngai/ngai-example/db/
ngai/ngai-example/target/
ngai/ngai-example/.classpath
ngai/ngai-example/.project

ngai/ngai-guardian/.settings/
ngai/ngai-guardian/db/
ngai/ngai-guardian/target/
ngai/ngai-guardian/.classpath
ngai/ngai-guardian/.project

ngai/ngai-localization/.settings/
ngai/ngai-localization/target/
ngai/ngai-localization/.classpath
ngai/ngai-localization/.project

ngai-ready/.settings/
ngai-ready/target/
ngai-ready/.classpath
ngai-ready/.project
