
img {
	border: none;
}

.displaytag table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;
}

.displaytag a{
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-repeat: no-repeat;
	list-style-type: none;
}

.displaytag th,.displaytag td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

.displaytag thead tr {
	background-color: #fc0;
}

.displaytag th.sorted {
	background-color: orange;
}

.displaytag th a,.displaytag th a:visited {
	color: black;
}

.displaytag th a:hover {
	text-decoration: underline;
	color: black;
}

.displaytag th.sorted a,.displaytag th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.displaytag th.sortable a {
	background-image: url(../images/arrow_off.png);
}

.displaytag th.order1 a {
	background-image: url(../images/arrow_down.png);
}

.displaytag th.order2 a {
	background-image: url(../images/arrow_up.png);
}

.displaytag tr.odd {
	background-color: #fff
}

.displaytag tr.tableRowEven,.displaytag tr.even {
	background-color: #fea
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../images/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}